spring:
  application:
    name: studying-admin
  profiles:
    active: dev
  messages:
    basename: i18n/messages

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
